<p>
  <strong><h4>{{properties.facility_name}}</h4></strong>
  <h5>{{config.name}}</h5>

  <ul class="list-unstyled">
    <strong><li>Emissions Level:</li></strong>
    <li>{{properties.emission}} {{properties.unit}}</li>
    <li><a href={{properties.url}} >Link</a></li>
  </ul>
</p>
